#### 一、模块导入

In [1]:
from sklearn.neighbors import KNeighborsClassifier  # KNN算法
import pandas as pd

#### 二、数据加载

In [4]:
movies = pd.read_csv("movie.csv")
movies

    电影名称  搞笑镜头  拥抱镜头  打斗镜头  电影类型
0   功夫熊猫    39     0    31     1
1    叶问3     3     2    65     0
2   伦敦陷落     2     3    55     0
3   代理情人     9    38     2     2
4  新步步惊心     8    34    17     2
5   谍影重重     5     2    57     0
6   功夫熊猫    39     0    31     1
7    美人鱼    21    17     5     1
8   宝贝当家    45     2     9     1

* 搞笑镜头、拥抱镜头、打斗镜头为特征
* 电影类型为目标变量，0：爱情片 1：喜剧片 2：动作片

#### 三、数据处理

In [8]:
# 提取特征
X_train = movies[["搞笑镜头","拥抱镜头","打斗镜头"]]
X_train

   搞笑镜头  拥抱镜头  打斗镜头
0    39     0    31
1     3     2    65
2     2     3    55
3     9    38     2
4     8    34    17
5     5     2    57
6    39     0    31
7    21    17     5
8    45     2     9

In [12]:
# 提取目标变量
y_train = movies.电影类型.values
y_train

array([1, 0, 0, 2, 2, 0, 1, 1, 1], dtype=int64)

#### 四、模型训练

In [13]:
# 模型实例化
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

#### 五、模型预测

In [14]:
# 封装需要预测的电影数据
X_test = [[23,3,17]]
knn.predict(X_test)

array([1], dtype=int64)