In [1]:
%run topic02-数据准备与数据处理-完整代码

In [2]:
TrainData.head()

,Survived,AgeIsMissing,IsAlone,IsMother,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,...,"SexAgeCombo_female_(0, 18]","SexAgeCombo_female_(18, 25]","SexAgeCombo_female_(25, 40]","SexAgeCombo_female_(40, 60]","SexAgeCombo_female_(60, 100]","SexAgeCombo_male_(0, 18]","SexAgeCombo_male_(18, 25]","SexAgeCombo_male_(25, 40]","SexAgeCombo_male_(40, 60]","SexAgeCombo_male_(60, 100]"
0,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,1,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
2,1,0,1,0,0,0,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
TrainData.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Survived,891.0,0.383838,0.486592,0.0,0.0,0.0,1.0,1.0
AgeIsMissing,891.0,0.198653,0.399210,0.0,0.0,0.0,0.0,1.0
IsAlone,891.0,0.602694,0.489615,0.0,0.0,1.0,1.0,1.0
IsMother,891.0,0.084175,0.277806,0.0,0.0,0.0,0.0,1.0
Pclass_1,891.0,0.242424,0.428790,0.0,0.0,0.0,0.0,1.0
Pclass_2,891.0,0.206510,0.405028,0.0,0.0,0.0,0.0,1.0
Pclass_3,891.0,0.551066,0.497665,0.0,0.0,1.0,1.0,1.0
Sex_female,891.0,0.352413,0.477990,0.0,0.0,0.0,1.0,1.0
Sex_male,891.0,0.647587,0.477990,0.0,0.0,1.0,1.0,1.0
Embarked_C,891.0,0.188552,0.391372,0.0,0.0,0.0,0.0,1.0
Embarked_Q,891.0,0.086420,0.281141,0.0,0.0,0.0,0.0,1.0
Embarked_S,891.0,0.725028,0.446751,0.0,0.0,1.0,1.0,1.0
"AgeBin_(0, 18]",891.0,0.156004,0.363063,0.0,0.0,0.0,0.0,1.0
"AgeBin_(18, 25]",891.0,0.181818,0.385911,0.0,0.0,0.0,0.0,1.0
"AgeBin_(25, 40]",891.0,0.493827,0.500243,0.0,0.0,0.0,1.0,1.0
"AgeBin_(40, 60]",891.0,0.143659,0.350940,0.0,0.0,0.0,0.0,1.0
"AgeBin_(60, 100]",891.0,0.024691,0.155270,0.0,0.0,0.0,0.0,1.0
"FareBin_(-0.001, 7.854]",891.0,0.200898,0.400897,0.0,0.0,0.0,0.0,1.0
"FareBin_(7.854, 10.5]",891.0,0.206510,0.405028,0.0,0.0,0.0,0.0,1.0
"FareBin_(10.5, 21.679]",891.0,0.193042,0.394907,0.0,0.0,0.0,0.0,1.0
"FareBin_(21.679, 39.688]",891.0,0.202020,0.401733,0.0,0.0,0.0,0.0,1.0
"FareBin_(39.688, 512.329]",891.0,0.197531,0.398360,0.0,0.0,0.0,0.0,1.0
FamilySize_1,891.0,0.602694,0.489615,0.0,0.0,1.0,1.0,1.0
FamilySize_2,891.0,0.180696,0.384982,0.0,0.0,0.0,0.0,1.0
FamilySize_3,891.0,0.114478,0.318570,0.0,0.0,0.0,0.0,1.0
FamilySize_4,891.0,0.032548,0.177549,0.0,0.0,0.0,0.0,1.0
FamilySize_5,891.0,0.016835,0.128725,0.0,0.0,0.0,0.0,1.0
FamilySize_6,891.0,0.024691,0.155270,0.0,0.0,0.0,0.0,1.0
FamilySize_7,891.0,0.013468,0.115332,0.0,0.0,0.0,0.0,1.0
FamilySize_8,891.0,0.006734,0.081830,0.0,0.0,0.0,0.0,1.0
FamilySize_11,891.0,0.007856,0.088337,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_female_(0, 18]",891.0,0.076319,0.265657,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_female_(18, 25]",891.0,0.060606,0.238740,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_female_(25, 40]",891.0,0.161616,0.368305,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_female_(40, 60]",891.0,0.050505,0.219108,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_female_(60, 100]",891.0,0.003367,0.057961,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_male_(0, 18]",891.0,0.079686,0.270958,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_male_(18, 25]",891.0,0.121212,0.326557,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_male_(25, 40]",891.0,0.332211,0.471271,0.0,0.0,0.0,1.0,1.0
"SexAgeCombo_male_(40, 60]",891.0,0.093154,0.290811,0.0,0.0,0.0,0.0,1.0
"SexAgeCombo_male_(60, 100]",891.0,0.021324,0.144544,0.0,0.0,0.0,0.0,1.0

In [4]:
# 导入相关包
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
# 拆分训练集和测试集y=f(x)
# trainData系列为训练集，trainData_X:训练集自变量(x)，trainData_y:训练集因变量(y)
trainData_X = TrainData.drop(['Survived'], axis = 1)#注意：训练集中一定要删除目标值，因为这个值是要训练得出的
trainData_y = TrainData.Survived # 把原数据集中的结果（可以理解为数据标准）保存到因变量集中，用于将来和训练的结果集对比得正确率
# X_test:代表的是测试集数据（自变量），y_test:代表的是测试集数据（因变量）
X_train, X_test, y_train, y_test = train_test_split(trainData_X, trainData_y, test_size=0.3, random_state=123456)
# 实例化一个逻辑回归模型(逻辑回归是用于解决分类问题的典型机器学习算法)
lr = LogisticRegression()
# 训练模型（此过程本质上是得到相关数学模型的相关参数,即得到：y=f(x)相关表达式）
lr.fit(X_train, y_train)
# 用模型对测试集进行预测（用之前得到的y=f(x)公式，带入x,求解y）
y_test_pred = lr.predict(X_test)
# 输出测试集上模型评估报告classification_report(即预测试的结果集和实际事先标注的真实结果集进行比较)
print(classification_report(y_test,y_test_pred))
print(y_train)

             precision    recall  f1-score   support

          0       0.82      0.81      0.81       166
          1       0.70      0.72      0.71       102

avg / total       0.77      0.77      0.77       268

81     1
246    0
386    0
731    0
818    0
854    0
549    1
795    0
403    0
689    1
306    1
123    1
436    0
378    0
735    0
526    1
653    1
388    0
85     1
581    1
471    0
855    1
558    1
391    1
156    1
263    0
314    0
691    1
434    0
211    1
      ..
880    1
606    0
580    1
175    0
194    1
810    0
710    1
546    1
631    0
470    0
690    1
303    1
532    0
843    0
268    1
266    0
458    1
136    1
676    0
215    1
32     1
859    0
555    0
751    1
171    0
568    0
49     0
498    0
746    0
65     1
Name: Survived, Length: 623, dtype: int64

In [5]:
# 测试模型，代码再跑一遍
# step-1:先获取测试集，进行相关的数据预处理
# 导入相关包import pandas as pd
# 读取测试数据集
titanic_df = pd.read_csv('./datasets/titanic/test.csv')
# drop掉Name,Ticket,Cabin
titanic_df = titanic_df.drop(['Name','Ticket','Cabin'], axis = 1)
# 构造一个新变量AgeIsMissing
titanic_df['AgeIsMissing'] = 0
titanic_df.loc[titanic_df['Age'].isnull(), 'AgeIsMissing'] = 1
# 对Age缺失值进行均值填充
age_mean = round(titanic_df['Age'].mean())
titanic_df['Age'].fillna(age_mean, inplace=True)
# 对Embarked缺失值用'S'替换
titanic_df['Embarked'].fillna('S', inplace=True)
# 对Age进行分箱--自定义分箱
cut_points = [0,18,25,40,60,100]
titanic_df["AgeBin"] = pd.cut(titanic_df.Age, bins=cut_points)
# 对Fare船票价格进行分箱--等深分箱
titanic_df["FareBin"] = pd.qcut(titanic_df.Fare, 5)
# 构造FamilySize变量
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
# 构造一个新变量IsAlone（是否独自一人)
titanic_df['IsAlone'] = 0
titanic_df.loc[titanic_df['FamilySize'] == 1, 'IsAlone'] = 1
# 构造一个新变量IsMother（是否是母亲）
titanic_df['IsMother'] = 0
titanic_df.loc[(titanic_df['Sex']=='female') & (titanic_df['Parch']>0) & (titanic_df['Age']>20), 'IsMother'] = 1
# 把Sex性别和AgeBin特征进行组合
titanic_df['SexAgeCombo'] = titanic_df['Sex'] + "_" + titanic_df['AgeBin'].astype(str)
# 对Pclass,Sex,Embarked,AgeBin,FareBin,FamilySize,Sex_Age_combo进行独热编码
Pclass = pd.get_dummies(titanic_df.Pclass,prefix='Pclass')
Sex = pd.get_dummies(titanic_df.Sex,prefix='Sex')
Embarked = pd.get_dummies(titanic_df.Embarked,prefix='Embarked')
AgeBin = pd.get_dummies(titanic_df.AgeBin,prefix='AgeBin')
FareBin = pd.get_dummies(titanic_df.FareBin,prefix='FareBin')
FamilySize = pd.get_dummies(titanic_df.FamilySize,prefix='FamilySize')
SexAgeCombo = pd.get_dummies(titanic_df.SexAgeCombo,prefix='SexAgeCombo')
# 把需要的变量全部拼接在一起
TestData = pd.concat([titanic_df[['PassengerId','AgeIsMissing','IsAlone','IsMother']],
                      Pclass,Sex,Embarked,AgeBin,FareBin,FamilySize,SexAgeCombo],axis=1)
TestData.head()

,PassengerId,AgeIsMissing,IsAlone,IsMother,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,...,"SexAgeCombo_female_(0, 18]","SexAgeCombo_female_(18, 25]","SexAgeCombo_female_(25, 40]","SexAgeCombo_female_(40, 60]","SexAgeCombo_female_(60, 100]","SexAgeCombo_male_(0, 18]","SexAgeCombo_male_(18, 25]","SexAgeCombo_male_(25, 40]","SexAgeCombo_male_(40, 60]","SexAgeCombo_male_(60, 100]"
0,892,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,893,0,0,0,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
2,894,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,895,0,1,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,896,0,0,1,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0

In [6]:
# 准备测试集，不需要ID
Test_X = TestData.drop(['PassengerId'], axis = 1)
# 对测试数据进行预测
pred = lr.predict(Test_X)
# 生成最终提交结果Submission 
Submission = pd.DataFrame({'PassengerId':TestData.PassengerId,'Survived':pred})
# 导出为csv文件
Submission.to_csv("./datasets/titanic/Submission.csv", index=False)
# 查看导出文件，读取测试结果数据集
submission_df = pd.read_csv('./datasets/titanic/Submission.csv')
submission_df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [7]:
# 对 测试集预测类别值 并打印输出，结果是一维数组。
y_test_pred = lr.predict(Test_X)
y_test_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0], dtype=int64)

In [8]:
# 对 测试集预测每一个类别的概率值，输出结果是二维数组
y_test_pred_prob = lr.predict_proba(X_test)
# 值显示前10行
y_test_pred_prob[:10]

array([[ 0.8751957 ,  0.1248043 ],
       [ 0.6258397 ,  0.3741603 ],
       [ 0.25384787,  0.74615213],
       [ 0.92089161,  0.07910839],
       [ 0.95393324,  0.04606676],
       [ 0.92089161,  0.07910839],
       [ 0.93991627,  0.06008373],
       [ 0.93991627,  0.06008373],
       [ 0.8655787 ,  0.1344213 ],
       [ 0.85772313,  0.14227687]])

In [9]:
# 可以提取y_test_pred和y_test_pred_prob通过DataFrame()拼接起来
# 把预测结果转为dataframe格式，并通过concat()拼接起来
pred_df = pd.DataFrame(y_test_pred,columns=['pred'])
pred_prob_df = pd.DataFrame(y_test_pred_prob,columns=['p_0','p_1'])
pd.concat((pred_df,pred_prob_df),axis=1).head()

   pred       p_0       p_1
0     0  0.875196  0.124804
1     0  0.625840  0.374160
2     0  0.253848  0.746152
3     0  0.920892  0.079108
4     1  0.953933  0.046067

In [10]:
# 定义一个数据预处理的函数:prepare_data
# 参数说明：
# path: 读取的数据文件路径
# role：数据文件的用途 ,两个取值：
#        train（表明预处理的是训练集）
#        test （表明预处理的是测试集）
# 返回值：返回预处理好后的训练集或测试集
def prepare_data(path,role):
    titanic_df = pd.read_csv(path)

    if role == 'train':
        # train数据集drop掉：PassengerId,Name,Ticket,Cabin
        titanic_df = titanic_df.drop(['PassengerId','Name','Ticket','Cabin'], axis = 1)
    else:
        # test数据集drop掉Name,Ticket,Cabin
        titanic_df = titanic_df.drop(['Name','Ticket','Cabin'], axis = 1)
        
    # 构造一个新变量AgeIsMissing
    titanic_df['AgeIsMissing'] = 0
    titanic_df.loc[titanic_df['Age'].isnull(), 'AgeIsMissing'] = 1

    # 对Age缺失值进行均值填充
    age_mean = round(titanic_df['Age'].mean())
    titanic_df['Age'].fillna(age_mean, inplace=True)

    # 对Embarked缺失值用'S'替换
    titanic_df['Embarked'].fillna('S', inplace=True)

    # 对Age进行分箱--自定义分箱
    cut_points = [0,18,25,40,60,100]
    titanic_df["AgeBin"] = pd.cut(titanic_df.Age, bins=cut_points)

    # 对Fare船票价格进行分箱--等深分箱
    titanic_df["FareBin"] = pd.qcut(titanic_df.Fare, 5)

    # 构造FamilySize变量
    titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1

    # 构造一个新变量IsAlone（是否独自一人)
    titanic_df['IsAlone'] = 0
    titanic_df.loc[titanic_df['FamilySize'] == 1, 'IsAlone'] = 1

    # 构造一个新变量IsMother（是否是母亲）
    titanic_df['IsMother'] = 0
    titanic_df.loc[(titanic_df['Sex']=='female') & (titanic_df['Parch']>0) & (titanic_df['Age']>20), 'IsMother'] = 1

    # 把Sex性别和AgeBin特征进行组合
    titanic_df['SexAgeCombo'] = titanic_df['Sex'] + "_" + titanic_df['AgeBin'].astype(str)

    # 对Pclass,Sex,Embarked,AgeBin,FareBin,FamilySize,Sex_Age_combo进行独热编码
    Pclass = pd.get_dummies(titanic_df.Pclass,prefix='Pclass')
    Sex = pd.get_dummies(titanic_df.Sex,prefix='Sex')
    Embarked = pd.get_dummies(titanic_df.Embarked,prefix='Embarked')
    AgeBin = pd.get_dummies(titanic_df.AgeBin,prefix='AgeBin')
    FareBin = pd.get_dummies(titanic_df.FareBin,prefix='FareBin')
    FamilySize = pd.get_dummies(titanic_df.FamilySize,prefix='FamilySize')
    SexAgeCombo = pd.get_dummies(titanic_df.SexAgeCombo,prefix='SexAgeCombo')

    if role == 'train':
        # train数据集保留Survived
        data = pd.concat([titanic_df[['Survived','AgeIsMissing','IsAlone','IsMother']],
                              Pclass,Sex,Embarked,AgeBin,FareBin,FamilySize,SexAgeCombo],axis=1)
    else:
        # test数据集保留PassengerId
        data = pd.concat([titanic_df[['PassengerId','AgeIsMissing','IsAlone','IsMother']],
                              Pclass,Sex,Embarked,AgeBin,FareBin,FamilySize,SexAgeCombo],axis=1)
    return data

In [11]:
# 利用prepare_data()函数对train.csv和test.csv进行同样逻辑的预处理
TrainData = prepare_data(path='./datasets/titanic/train.csv',role='train')
TestData = prepare_data(path='./datasets/titanic/test.csv',role='test')
# drop掉PassengerId剩余变量组合成数据及Test_X
Test_X = TestData.drop(['PassengerId'], axis = 1)
# 对测试数据进行预测
pred = lr.predict(Test_X)
# 把PassengerId和pred通过DataFrame()拼接起来形成最后的提交结果
Submission = pd.DataFrame({'PassengerId':TestData.PassengerId,'Survived':pred})
Submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         1
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [12]:
#再重新做一次模型训练，目的是为了查看逻辑回归模型的两个结果
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
trainData_X = TrainData.drop(['Survived'], axis = 1)
trainData_y = TrainData.Survived 
X_train, X_test, y_train, y_test = train_test_split(trainData_X, trainData_y, test_size=0.3, random_state=123456)
lr = LogisticRegression()
lr.fit(X_train, y_train)
# 查看逻辑回归模型的两个结果：intercept_就是一个单值，coef_的shape是(1,40)，40就是X_train中的变量个数。
print(lr.intercept_ )
print(lr.coef_)
# 查看coef_的shape
print("coef_的shape:",lr.coef_.shape)
# 查看X_train的列数
print("X_train的列数:",len(X_train.columns))

[-0.11399452]
[[ 0.02634231  0.33252251 -0.61323445  0.94179689 -0.21038319 -0.84540822
   1.18550877 -1.29950329  0.13507611  0.14684955 -0.39592019  0.46609956
  -0.02345968  0.01684141 -0.30207496 -0.27140085 -0.60176233 -0.20087521
   0.16827815  0.15535304  0.36501183  0.33252251  0.34522585  0.99536155
   0.79970451 -0.92207833 -0.7702176   0.62616366 -0.78744042 -0.73323625
  -0.19735508  0.51247587  0.32389207  0.3775783   0.16891761  0.66345464
  -0.53593555 -0.30705066 -0.67965326 -0.44031846]]
coef_的shape: (1, 40)
X_train的列数: 40

In [13]:
import numpy as np
# 把变量名称和系数对应起来组合成dataframe
coef = pd.DataFrame(list(zip(X_train.columns, np.transpose(lr.coef_))), columns=['columns', 'coef'])
# 按照coef的值从高到底排序
coef = coef.sort_values(by =['coef'], ascending=False)
coef

                         columns                coef
6                     Sex_female     [1.18550877066]
23                  FamilySize_3    [0.995361547562]
3                       Pclass_1    [0.941796891955]
24                  FamilySize_4    [0.799704514121]
35      SexAgeCombo_male_(0, 18]    [0.663454641336]
27                  FamilySize_7    [0.626163658194]
31   SexAgeCombo_female_(18, 25]    [0.512475874363]
11                AgeBin_(0, 18]    [0.466099559738]
33   SexAgeCombo_female_(40, 60]     [0.37757829664]
20     FareBin_(39.688, 512.329]    [0.365011830248]
22                  FamilySize_2    [0.345225852945]
1                        IsAlone    [0.332522505765]
21                  FamilySize_1    [0.332522505765]
32   SexAgeCombo_female_(25, 40]    [0.323892073254]
34  SexAgeCombo_female_(60, 100]    [0.168917608005]
18        FareBin_(10.5, 21.679]    [0.168278145874]
19      FareBin_(21.679, 39.688]    [0.155353044977]
9                     Embarked_Q    [0.146849554565]
8                     Embarked_C    [0.135076112161]
0                   AgeIsMissing   [0.0263423099528]
13               AgeBin_(25, 40]   [0.0168414100877]
12               AgeBin_(18, 25]  [-0.0234596783658]
30    SexAgeCombo_female_(0, 18]   [-0.197355081597]
17         FareBin_(7.854, 10.5]   [-0.200875209798]
4                       Pclass_2   [-0.210383189191]
15              AgeBin_(60, 100]   [-0.271400850903]
14               AgeBin_(40, 60]   [-0.302074961367]
37     SexAgeCombo_male_(25, 40]   [-0.307050663166]
10                    Embarked_S   [-0.395920187537]
39    SexAgeCombo_male_(60, 100]   [-0.440318458908]
36     SexAgeCombo_male_(18, 25]   [-0.535935552729]
16       FareBin_(-0.001, 7.854]   [-0.601762332111]
2                       IsMother   [-0.613234445474]
38     SexAgeCombo_male_(40, 60]   [-0.679653258007]
29                 FamilySize_11   [-0.733236247943]
26                  FamilySize_6   [-0.770217595955]
28                  FamilySize_8   [-0.787440424761]
5                       Pclass_3   [-0.845408223574]
25                  FamilySize_5   [-0.922078330739]
7                       Sex_male    [-1.29950329147]

In [15]:
# 模块的保存与读取
#记得先要导入pickle模块：
import pickle
# 确认一下lr是我们训练好的逻辑回归模型sklearn.linear_model.logistic.LogisticRegression
type(lr)
# 通过pickle.dump()把lr模型保存为lrmodel.pickle文件
with open('lrmodel.pickle', 'wb') as fw:
    pickle.dump(lr, fw)

In [17]:
# 通过pickle.load 加载 lrmodel.pickle文件，把读取出来的模型赋予一个新的对象 new_lr
with open('lrmodel.pickle', 'rb') as fr:
    new_lr = pickle.load(fr)
#通过type()查看new_lr，的确是一个LogisticRegression模型
type(new_lr)
# sklearn.linear_model.logistic.LogisticRegression
#让我们用new_lr.predict()来对X_test预测一下
new_lr.predict(X_test)

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [18]:
# 使用 sklearn 的 joblib
# 保存和读取的流程和pickle基本一样的套路，就不赘述了，记得导包
from sklearn.externals import joblib
# 保存模型为文件
joblib.dump(lr, "lrmodel.m")
# 读取模型文件
new_lr2 = joblib.load("lrmodel.m")
# 预测
new_lr2.predict(X_test)

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)